spring:
  application:
    name: eazystore

  datasource:
    url: jdbc:postgresql://localhost:5432/eazystore
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        use_sql_comments: true
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: Asia/Kolkata
  security:
    user:
      name: gourav
      password: gourav
      roles: USER,ADMIN

stripe:
  apiKey: "sk_test_51SjfJACeYxgfWgjEaLW79diOTrhI59riMndqOGCsnNE02MTNyUXXexNvhKlYVXbrn42K61G4tSeNtoDAFprPMu9r00prEvW38B"

logging:
  pattern:
    console: "%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n"

# Actuator config
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
